<%- layout('layout') %>

<div class="row mt-2">
    <div class="col-md-12 compactor">
        <div class="section-title aos-init aos-animate" data-aos="fade-up">
            <h2 class="text-center">Bolsa de trabajo</h2>
        </div>
        <img src="https://www.utng.edu.mx/assets/principal/servicios/banner/BolsaBanner.jpg" class="img-fluid">
        <hr>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <div class="card rounded-0">
            <div class="card-body">
                <div class="container">
                    <h3>Politicas y Requisitos para Bolsa de Trabajo</h3>
                    <ul id="politicas">
                        <li>Realizar el registro de manera presencial o vía correo electrónico, llevar tu CV y una fotografía tamaño infantil reciente.</li>
                        <li>Acudir a las actividades convocadas por Bolsa de Trabajo y Seguimiento de Egresados.</li>
                        <li>Tener disponibilidad para trabajar tiempo completo</li>
                        <li>Tener disponibilidad para establecerse en el lugar de la vacante si ésta así lo requiere</li>
                    </ul>
                </div>
                <ul class="nav nav-tabs" id="myTab" role="tablist">
                    <li class="nav-item" role="presentation">
                        <a class="nav-link active" id="convocatorias-tab" data-toggle="tab" href="#convocatorias" role="tab" aria-controls="convocatorias" aria-selected="true">Convocatorias</a>
                    </li>
                    <li class="nav-item" role="presentation">
                        <a class="nav-link" id="empresa-tab" data-toggle="tab" href="#empresa" role="tab" aria-controls="empresa" aria-selected="true">Registrar mi empresa</a>
                    </li>
                </ul>
                <div class="tab-content" id="myTabContent">
                    <div class="tab-pane fade show active" id="convocatorias" role="tabpanel" aria-labelledby="convocatorias-tab">
                        <div class="container">
                            <ul class="list-unstyled">
                                <% for(var i=0; i < bolsa.length; i++){ %>
                                    <li class="media mt-2">
                                        <img src="<%= bolsa[i].imagen %>" class="mr-3" alt="..." width="60">
                                        <div class="media-body">
                                          <h5 class="mt-0 mb-1"><%= bolsa[i].titulo %></h5>
                                          <%= bolsa[i].descripcion %>
                                          <a href="<%= bolsa[i].link %>" class="btn btn-sm btn-info float-right">Saber más...</a>
                                        </div>
                                      </li>
                                      <hr>
                                <% } %>
                            </ul>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="empresa" role="tabpanel" aria-labelledby="empresa-tab">
                        <h1 class="text-center card-title">Contactanos</h1>
                        <p>Por el momento solo puedes registrar tu empresa a traves de un registro presencial, para más información contactanos.</p>
                        <div class="col-4">
                            <div class="card">
                                <div class="card-body">
                                    <p><i class="fas fa-user"></i> Cristina Vázquez Reyes</p>
                                    <p><i class="fas fa-envelope"></i> cristinavazquez@utng.edu.mx</p>
                                    <p><i class="fas fa-phone-square-alt"></i> Tel:18 2 55 00 ext. 1357</p>
                                </div>
                                <div class="card-footer">
                                    Atención de lunes a viernes de 8:00 a 16:00 hrs.
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>